{% extends 'base_generic.html' %}

{% block css %}
{% load staticfiles %}
<link href="{% static 'dist/css/change_password.css' %}" rel="stylesheet" type="text/css" /> 
{% endblock %}

{% block content %}
<div class="container">
  {% if request.user.is_authenticated %}
  <div class="account-panel">
    <form action="" method="post" role="form" id="form-id">

      {% csrf_token %}

      <h2 class="panel-title">修改密碼</h2>
      <!-- login error message -->
      
			<div class="error-msg" id="error"></div>

      <!-- end of error message -->

      <div class="form-group">
        <input name="origin_password" type="password" class="form-control form-style" placeholder="舊密碼"  required autofocus>
      </div>

      <div class="form-group">
        <input name="new_password" type="password"  class="form-control form-style" placeholder="新密碼" required/>
      </div>

      <div class="form-group">
        <input name="confirm_new_password" type="password"  class="form-control form-style" placeholder="確認新密碼" required/>
      </div>

      <button class="btn btn-lg btn-style btn-block" type="submit" id="submit-button">確認</button>
    </form>
  </div><!--end of login pangel-->
  {% else %}
  <script>
    swal({
      title: "使用者尚未登入",
      showCancelButton: false,
      type: "error",
      confirmButtonColor: "#5CADAD",
      
      confirmButtonText: "前往登入頁面",
      closeOnConfirm: false,
      closeOnCancel: false
    },
    function(isConfirm){
      if (isConfirm) {
        window.location.href = '/account/signin/';
      }
    });
  </script>
  {% endif %}
</div> <!--end of loign container-->


{% endblock %}

{% block js %}
<script src="{% static 'dist/js/change_password.js' %}"></script> 
{% endblock %}
