{% extends 'base_generic.html' %}

{% block css %}
{% load staticfiles %}
<link href="{% static 'dist/css/index.css' %}" rel="stylesheet" type="text/css" /> 
{% endblock %}

{% block content %}
<div class="container">
	<div class="content">
		<div class="table-border">
			<input type="button" value="sort by NMI" onclick="sortNMI()" >
			<input type="button" value="sort by ANC" onclick="sortANC()">      
		  <table class="table table-striped">
		    <thead>
		      <tr>
		        <th>排名</th>
		        <th>組名</th>
		        <th>NMI</th>
		        <th>ANC</th>
		        <th>最後上傳時間</th>
		        <th>count</th>
		      </tr>
		    </thead>
		    <tbody id="tableNMI">	    
 				</tbody> 
		    <tbody id="tableANC"  style="display:none">	    
 				</tbody>
		  </table>
	  </div>
	</div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'dist/js/index.js' %}"></script> 
{% endblock %}
