$panel-width: 500px;

.account-panel{
  padding: 0px 30px 16px 30px;

  margin-left: auto;
  margin-right: auto;
  width: $panel-width;
  height: 50%;
  margin-top: $navbar-height +40;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 1px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.15);
  background-color: white;
}
.panel-title{
  font-size: 25px;
  text-align: center;
  color: #3C3C3C;
  padding: 5px 0px 10px 0px;
  margin-top: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.form-style{ 
  border-radius: 2px;
  margin: 18px 0px 0px 0px;
  font-size: 17px;
  height: 35px;
}
.form-style:focus {
  border: 2px solid lighten($top-navbar-color, 10%);
  outline: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); 
}
.form-group{
  margin-bottom: 25px;
}
.btn-style{

  display: block;
  width: 60%;
  margin: 10px auto;
  background-color:   #B3D9D9;

  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}
.btn-style:hover{
  background-color:  darken(#B3D9D9, 20%);
}