@import "topnav";
@import "account";

$upload-btn-height: 60px;
$upload-btn-width: 60px;
$cover-height: 200px;
$cover-width: 700px;

.content{
	margin-top: $navbar-height +30px;
}
form{
	display: none;
}
.forbidden-upload{
	margin-top: $navbar-height +30px;
	display: none;
}
.title-border{
  width: 85%;
  margin: 20px auto;
  border-left: 10px solid   lighten(gray, 10%);
  padding-bottom: 8px;
}
.title{
  margin-left: 16px;
  border-bottom: 1px solid  lighten(gray, 30%);
}
.title > h1{
  font-size: 30px;
  display: inline-block;
  margin: 0 20px 0 0;
  padding-bottom: 10px;
  text-shadow: 2px 2px 2px lighten(gray, 20%);
  font-style: oblique;
}
.title > p{
  font-size: 18px;
  display: inline-block;
  font-style: oblique;
}
.remain-section{
  width: 60%;
  margin: 0 auto;
  padding: 10px 20px;

  text-align: center;
  border-radius: 8px;
  background-color: lighten(#FFB5B5, 8%);

}
.remain-section > p{
  font-size: 18px;
  display: inline-block;
}
.remain-section > h4{
  font-size: 35px;
  font-style: oblique;
  text-shadow: 2px 2px 2px lighten(gray, 20%);

  margin-left: 20px;
  margin-right: 10px;
  display: inline-block;
}
form{
  margin-top: 20px;
}
.upload-section{
  //padding: 20px;
  height: $cover-height;
  width: $cover-width;

  text-align: center;
  border-radius: 5px;
  border: 2px dashed $top-navbar-color;
  background-color: white;
  margin: 0 auto;
}
.upload-style{ 
  //margin-top: 5px;
  height: $cover-height;
  width: $cover-width;  
  cursor: pointer;
  border-radius: 100%;
}
.upload-btn{
  @extend .upload-style;
  display: inline-block; 
  font-size: $upload-btn-height;
}
.upload-btn > input {
  @extend .upload-style;
  position: absolute;
  opacity: 0; 
  font-size: 0px; 
}
.upload-btn-inner{
  padding: 5px; 
  vertical-align: middle;
  font-size: $upload-btn-height; 
}
.upload-btn-inner > i{
  margin-top: 50px;
}
.btn-style{
  margin: 20px auto;
  width: 120px;
}
.file-name-style{
  font-size: 20px;
  margin-top: -50px;
}
.gif-style{
  height: 350px;
  border-radius: 100%;
  margin: 30px auto 0 auto;
  display: block;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.15);
}
.forbidden-upload{
  width: 60%;
  margin: 0 auto;  
}
.sleep-style{
  height: 300px;
  border-radius: 5px;
  margin: 10px auto 0 auto;
  display: block;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.15);  
}
.forbidden-upload > h1{
  font-size: 20px;
  display: inline-block;
  margin: 10px 20px 0 0;
  padding-bottom: 10px;
  text-shadow: 2px 2px 2px lighten(gray, 20%);
  font-style: oblique;
}
.forbidden-upload > p{
  margin: 20px 50px 20px 0;
  float: right;
}
.wait-style{
  width: 80%;
  margin: 0 auto;
}
.wait-style > h1{
  margin: 0 5px 0 0;
  padding: 0;  
  font-size: 26px;
  display: inline-block;
}
.wait-style > h2{
  margin: 0;
  padding: 0; 
  width: 30px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  animation: typing 2s steps(4) infinite;
}
.wait-style > p{
  margin: 20px 0;
  float: right;
}
@keyframes typing{
  from { width: 0; }
}
@keyframes caret{
  50% { border-color: transparent; }
}

@media screen and (max-width: 767px){
  .upload-section{
	width: 80%;
  }
  .upload-style{ 
	width: 80%;
  }  
}